<style>
body {
    width: 800px;
    height: 1000px;
    padding: 40px;
    font-family: Arial;
    background: white;
    border: 2px solid #ccc;
}
.titulo {
    font-size: 28px;
    margin-bottom: 20px;
}
.contenido {
    font-size: 20px;
    white-space: pre-line;
}
</style>

<div class="titulo">{{titulo}}</div>
<div class="contenido">{{contenido}}</div>
